name: CI
permissions: read-all

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint (rust)
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          submodules: true

      - name: dprint
        uses: dprint/check@v2.3

      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          components: clippy, rustfmt

      - name: clippy
        run: cargo clippy --all-targets --all-features

      - name: rustfmt Check
        uses: actions-rust-lang/rustfmt@v1.1.1

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          submodules: true

      - name: cargo build
        run: cargo build --verbose

      - name: cargo test
        run: cargo test --verbose -- --nocapture
